@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900|Source+Code+Pro&display=swap");
:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 900;
  --clr-purple: #855678;
  --clr-blue: #22333B;
  --clr-black: #303030;
  --clr-grey: #f8f8f8;
  --clr-white: #fff;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-a: 0.85rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*--- Mobile Overlay Styling---*/
.mobile-main-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--clr-grey);
  min-height: 200px;
  max-height: 450px;
  min-width: 300px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-page-overlay {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  bottom: 7%;
  border: none;
}

.mobile-contact-link {
  font-size: var(--fs-a);
  margin-left: 0.5em;
  color: var(--clr-black);
}

.mobile-about {
  width: 100%;
}

.mobile-about-info {
  width: 80%;
  margin: 1em auto;
}

.mobile-about-heading {
  text-align: center;
}

.mobile-about-description {
  font-size: 0.9em;
  font-weight: var(--fw-light);
  margin-bottom: 0.5em;
}

.mobile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.mobile-button {
  background: var(--clr-purple);
  border: 0;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

.first {
  margin-right: 1em;
}

.footer-button {
  background: transparent;
  -webkit-transform: translateX(-8.5px);
          transform: translateX(-8.5px);
}

.footer-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-overlay {
  display: block;
  overflow-y: scroll;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--clr-grey);
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.mobile-app {
  height: 100vh;
}

.header-mobile {
  height: 7%;
  background: var(--clr-purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mobile {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7%;
  background: var(--clr-black);
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container {
  height: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-mobile {
  height: 45%;
  display: -ms-grid;
  display: grid;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto 1em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
      grid-template-areas: "img title" "img subtitle";
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
}

.intro-mobile-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.intro-mobile-heading strong {
  display: block;
}

.intro-mobile-description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  background: var(--clr-blue);
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-size: 0.8rem;
  padding: 1em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  grid-column: -1 / 1;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 3em);
}

.intro-mobile-description-2 {
  display: block;
}

.intro-mobile-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  height: 320px;
  position: relative;
}

.intro-mobile-name {
  color: var(--clr-purple);
  font-weight: var(--fw-bold);
}
/*# sourceMappingURL=styles.css.map */