@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900|Source+Code+Pro&display=swap");
:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 900;
  --clr-purple: #855678;
  --clr-blue: #22333B;
  --clr-black: #303030;
  --clr-grey: #f8f8f8;
  --clr-white: #fff;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-a: 0.85rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*--- Mobile Overlay Styling---*/
.mobile-main-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--clr-grey);
  min-height: 200px;
  max-height: 450px;
  min-width: 300px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-page-overlay {
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  border: none;
}

.mobile-contact-link {
  font-size: var(--fs-a);
  margin-left: 0.5em;
  color: var(--clr-black);
}

.mobile-about {
  width: 100%;
}

.mobile-about-info {
  width: 80%;
  margin: 1em auto;
}

.mobile-about-heading {
  text-align: center;
}

.mobile-about-description {
  font-size: 0.9em;
  font-weight: var(--fw-light);
  margin-bottom: 0.5em;
}

.mobile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.mobile-button {
  background: var(--clr-purple);
  border: 0;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

.first {
  margin-right: 1em;
}

.footer-button {
  background: transparent;
  text-transform: lowercase;
  padding: 0.5em 0;
}

.footer-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

.footer-button-row-icon {
  margin-right: 0.25em;
}

.about-overlay {
  display: block;
  overflow-y: scroll;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-grey);
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

footer {
  width: 100%;
}

.logo {
  color: var(--clr-white);
  margin-left: 1em;
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}

.home-button {
  margin-right: 1em;
  cursor: pointer;
  color: var(--clr-white);
  pointer-events: none;
  z-index: 1000;
}

@media screen and (min-width: 800px) {
  .home-button {
    margin-right: 0;
  }
}

.header-mobile {
  height: 2.5rem;
  background: var(--clr-purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-mobile {
  position: fixed;
  bottom: 0;
  height: 2.5rem;
  background: var(--clr-purple);
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-mobile {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  overflow-x: hidden;
}

.intro-mobile {
  display: -ms-grid;
  display: grid;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
      grid-template-areas: "img title" "img subtitle";
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
}

.intro-mobile-greeting {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.intro-mobile-greeting strong {
  display: block;
}

.intro-mobile-occupation {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  background: var(--clr-blue);
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-size: 0.8rem;
  padding: 1em;
  -ms-flex-item-align: start;
      align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  bottom: 1em;
  width: calc(100% + 3em);
}

.intro-mobile-occupation-2 {
  display: block;
}

.intro-mobile-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  height: 220px;
  width: 150px;
  position: relative;
}

.intro-mobile-name {
  color: var(--clr-purple);
  font-weight: var(--fw-bold);
}

.intro-mobile-project-heading {
  margin: 0 auto;
  position: relative;
  padding: 0.5em 0;
  text-transform: uppercase;
  color: var(--clr-blue);
}

.intro-mobile-project-heading::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  background: var(--clr-blue);
  opacity: 0.5;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto 0.5em;
}

.back-button, .next-button {
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-button-icon, .next-button-icon {
  pointer-events: none;
  color: var(--clr-blue);
}

.carousel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.carousel-container {
  min-height: 325px;
  position: relative;
  min-width: 95vw;
}

.project-mobile {
  margin: auto;
  height: 100%;
  min-width: 95vw;
  opacity: 0.5;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 300ms linear, -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: var(--clr-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-mobile-title {
  color: var(--clr-white);
}

.project-mobile-description {
  text-align: left;
  width: 95%;
  margin: 1em auto 0;
}

.carousel-container.active-project-0 #project-mobile-0 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.carousel-container.active-project-1 #project-mobile-1 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.carousel-container.active-project-2 #project-mobile-2 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.carousel-container.active-project-3 #project-mobile-3 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio-mobile {
  margin: 0.5em 1em 5em;
}

.portfolio-mobile-project {
  margin: 1em auto 2em;
}

.portfolio-mobile-title, .portfolio-mobile-description, .portfolio-mobile-description2 {
  margin-bottom: 1rem;
}

.portfolio-mobile-image {
  height: 250px;
  width: 100%;
  background: black;
  margin-bottom: 1em;
}

.portfolio-mobile-btn {
  display: inline;
  background: var(--clr-blue);
  color: var(--clr-white);
  padding: 0.5em 1em;
  border-radius: 3px;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-light);
  text-transform: uppercase;
}

/* Desktop Styles */
nav {
  width: 30%;
  margin-right: 1em;
}

@media screen and (max-width: 1200px) {
  nav {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    width: 50%;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-links-link {
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 900;
  font-family: 'Source Code Pro', monospace;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.nav-links-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-links-link a {
  color: var(--clr-white);
}

.intro-desktop {
  display: -ms-grid;
  display: grid;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
      grid-template-areas: "img title" "img subtitle";
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
}

.intro-desktop-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.intro-desktop-heading strong {
  display: block;
}

.intro-desktop-description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  background: var(--clr-blue);
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  padding: 1em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  grid-column: -1 / 1;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.intro-desktop-description-2 {
  display: block;
}

.intro-desktop-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  height: 300px;
  width: 300px;
  position: relative;
}

.intro-desktop-name {
  color: var(--clr-purple);
  font-weight: var(--fw-bold);
}

.about-desktop {
  margin: 1em auto 2.5em;
  width: 95%;
}

.about-desktop-main-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-desktop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-desktop-info-section {
  width: 40%;
}

.about-desktop-sub-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-desktop-description {
  font-weight: var(--fw-light);
}

.projects-desktop {
  margin: 0 auto 2.5em;
  width: 95%;
}

.projects-desktop-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
}

.projects-desktop-image {
  width: 65%;
  height: 500px;
  background: var(--clr-black);
}

.projects-desktop-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-desktop-text {
  width: 30%;
  padding: 1em;
  background: var(--clr-white);
  -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1), 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1), 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.projects-desktop-text-info {
  margin: 1rem auto;
}

.projects-desktop-text-info-title {
  text-align: center;
  margin-bottom: 1rem;
}

.projects-desktop-text-info-descr {
  margin-bottom: 1rem;
}

.projects-desktop-text-list {
  margin: 1rem auto;
}

.projects-desktop-text-list-heading {
  margin: 1rem auto;
}

@media screen and (max-width: 1300px) {
  .projects-desktop-image {
    width: 100%;
    margin-bottom: 2em;
  }
  .projects-desktop-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-desktop-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects-desktop-text-info {
    width: 65%;
  }
  .projects-desktop-text-list {
    width: 30%;
  }
}

.learn-more-btn {
  background: var(--clr-blue);
  padding: 0.25em 0.5em;
  color: var(--clr-white);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-right: 1em;
}

.learn-more-btn:hover {
  background: transparent;
  border: solid var(--clr-blue) 2px;
  color: var(--clr-blue);
}

.togithub {
  background: var(--clr-purple);
}

.togithub:hover {
  border: solid var(--clr-purple) 2px;
  color: var(--clr-purple);
}

.footer-desktop {
  background: var(--clr-purple);
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-desktop-email {
  color: var(--clr-white);
  font-weight: var(--fw-light);
}

.footer-desktop-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-desktop-icon {
  color: var(--clr-white);
}

.project-page-desktop {
  width: 100%;
}

.project-page-desktop-tldr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
}

.project-page-desktop-tldr-title {
  margin-bottom: 1rem;
}

.project-page-desktop-tldr-image {
  width: 65%;
  background: var(--clr-black);
}

.project-page-desktop-tldr-image img {
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-page-desktop-tldr-info {
  width: 30%;
}

.project-page-desktop-tldr-info-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
}

.project-page-desktop-tldr-info-text li::before {
  content: '- ';
}

@media screen and (max-width: 1500px) {
  .project-page-desktop-tldr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-page-desktop-tldr-title {
    text-align: center;
    margin: 1rem auto;
  }
  .project-page-desktop-tldr-info {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */