//--- Imports ---//
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900|Source+Code+Pro&display=swap");
@import "./variables";
@import "./mobile-overlays";
@import "./animations";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-grey);
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

footer {
  width: 100%;
}

//--- Mobile General Styles ---//

.logo {
  color: var(--clr-white);
  margin-left: 1em;
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}

.home-button {
  margin-right: 1em;
  cursor: pointer;
  color: var(--clr-white);
  pointer-events: none;
  z-index: 1000;
}

@media screen and (min-width: 800px) {
  .home-button {
    margin-right: 0;
  }
}

.header-mobile {
  height: 2.5rem;
  background: var(--clr-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.footer-mobile {
  position: fixed;
  bottom: 0;
  height: 2.5rem;
  background: var(--clr-purple);
  color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-mobile {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  overflow-x: hidden;
}

.intro-mobile {
  display: grid;
  width: min-content;
  margin: 1em auto;
  column-gap: 1em;
  grid-template-areas:
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;

  &-greeting {
    grid-area: title;

    strong {
      display: block;
    }
  }

  &-occupation {
    grid-area: subtitle;
    background: var(--clr-blue);
    color: var(--clr-white);
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: 0.8rem;
    padding: 1em;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    bottom: 1em;
    width: calc(100% + 3em);

    &-2 {
      display: block;
    }
  }

  &-img {
    grid-area: img;
    height: 220px;
    width: 150px;
    position: relative;
  }

  &-name {
    color: var(--clr-purple);
    font-weight: var(--fw-bold);
  }

  &-project-heading {
    margin: 0 auto;
    position: relative;
    padding: 0.5em 0;
    text-transform: uppercase;
    color: var(--clr-blue);

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      background: var(--clr-blue);
      opacity: 0.5;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.slider-buttons {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto 0.5em;
}

.back-button,
.next-button {
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;

  &-icon {
    pointer-events: none;
    color: var(--clr-blue);
  }
}

.carousel {
  height: 100%;
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &-container {
    min-height: 325px;
    position: relative;
    min-width: 95vw;
  }
}

.project {
  &-mobile {
    margin: auto;
    height: 100%;
    min-width: 95vw;
    opacity: 0.5;
    transform: scale(0.7);
    transition: opacity 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background: var(--clr-black);
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      position: relative;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      &-text {
        text-align: center;
        color: var(--clr-white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-description {
      text-align: left;
      width: 95%;
      margin: 1em auto 0;
    }
  }
}

$i: 0;
@for $i from 0 through 3 {
  .carousel-container.active-project-#{$i} #project-mobile-#{$i} {
    opacity: 1;
    transform: scale(1);
  }
}

.portfolio {
  &-mobile {
    margin: 0.5em 1em 5em;

    &-project {
      margin: 1em auto 2em;
    }

    &-title,
    &-description,
    &-description2 {
      margin-bottom: 1rem;
    }

    &-image {
      height: 250px;
      width: 100%;
      background: black;
      margin-bottom: 1em;
    }

    &-btn {
      display: inline;
      background: var(--clr-blue);
      color: var(--clr-white);
      padding: 0.5em 1em;
      border-radius: 3px;
      font-family: var(--ff-secondary);
      font-weight: var(--fw-light);
      text-transform: uppercase;
    }
  }
}

/* Desktop Styles */

nav {
  width: 30%;
  margin-right: 1em;
}

@media screen and (max-width: 1200px) {
  nav {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    width: 50%;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-link {
    cursor: pointer;
    text-transform: lowercase;
    font-weight: 900;
    font-family: "Source Code Pro", monospace;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }

    a {
      color: var(--clr-white);
    }
  }
}

.intro-desktop {
  display: grid;
  width: min-content;
  margin: 1em auto;
  column-gap: 1em;
  grid-template-areas:
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;

  &-heading {
    grid-area: title;

    strong {
      display: block;
    }
  }

  &-description {
    grid-area: subtitle;
    background: var(--clr-blue);
    color: var(--clr-white);
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    padding: 1em;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    //bottom: 1em;
    width: calc(100% + 1.5em);

    &-2 {
      display: block;
    }
  }

  &-img {
    grid-area: img;
    height: 300px;
    width: 300px;
    position: relative;
  }

  &-name {
    color: var(--clr-purple);
    font-weight: var(--fw-bold);
  }
}

.about-desktop {
  margin: 1em auto 2.5em;
  width: 95%;

  &-main-heading {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-section {
      width: 30%;
    }
  }

  &-sub-heading {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &-description {
    text-align: left;
  }

  &-extra {
    margin: 0 auto 2.5rem;
    width: 50%;

    &-main-heading {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &-info {
      text-align: left;
    }
  }
}

.projects-desktop {
  margin: 0 auto 2.5em;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  gap: 1.5em;

  &-image {
    margin: 0 auto 1em;
    width: 50%;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-card {
    width: 100%;
    padding: 1em;
    background: var(--clr-white);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1),
      2px 2px 6px 2px rgba(0, 0, 0, 0.1);

    &-info {
      margin: 1rem auto 0;

      &-title {
        text-align: center;
        margin-bottom: 1rem;
      }

      &-descr {
        margin-bottom: 1rem;
      }

      &-links {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-list {
      margin: 0 auto 1rem;

      &-heading {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .projects-desktop {
    &-image {
      width: 100%;
      margin-bottom: 2em;
    }
    &-project {
      flex-direction: column;
    }
    &-text {
      width: 100%;
      display: flex;

      &-info {
        width: 65%;
      }

      &-list {
        width: 30%;
      }
    }
  }
}

.learn-more-btn {
  background: var(--clr-blue);
  padding: 0.25em 0.5em;
  color: var(--clr-white);
  transition: all 0.1s ease-in-out;
  margin-right: 1em;
  margin-bottom: 1em;
  border: solid var(--clr-blue) 2px;

  &:hover {
    background: transparent;
    color: var(--clr-blue);
  }
}

.togithub {
  background: var(--clr-purple);
  border: solid var(--clr-purple) 2px;

  &:hover {
    color: var(--clr-purple);
  }
}

.footer-desktop {
  background: var(--clr-purple);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &-email {
    color: var(--clr-white);
    font-weight: var(--fw-light);
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-links {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
  }

  &-icon {
    color: var(--clr-white);
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.project-page-desktop {
  width: 100%;

  &-tldr {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em auto;

    &-title {
      text-align: left;
      margin-bottom: 1rem;
    }

    &-image {
      margin-bottom: 1rem;
      width: 65%;

      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &-info {
      width: 30%;
      padding: 1em;
      background: var(--clr-white);
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1),
        2px 2px 6px 2px rgba(0, 0, 0, 0.1);

      &-text {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5em;

        li::before {
          content: "- ";
        }
      }
    }
  }

  &-full {
    width: 50%;
    margin: 0 auto;

    &-image {
      margin: 2em auto;
      width: 100%;

      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }

    &-text {
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 1500px) {
  .project-page-desktop-tldr {
    flex-direction: column;

    &-title {
      text-align: center;
      margin: 1rem auto;
    }

    &-info {
      width: 90%;
    }
  }
}

@media screen and (max-width: 799px) {
  .project-page-desktop {
    &-full {
      width: 90%;
      margin-bottom: 3em;
    }
  }
}
