//--- Imports ---//
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900|Source+Code+Pro&display=swap');
@import './variables';
@import './mobile-overlays';
@import './animations';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-grey);
    color: var(--clr-black);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

a { text-decoration: none; }

li { list-style-type: none; }

img {
    display: block;   
}

h1, h2, h3 { 
    line-height: 1.1;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

footer {
    width: 100%; 
}

//--- Mobile General Styles ---//

.logo {
    color: var(--clr-white);
    margin-left: 1em;
    font-weight: var(--fw-bold);
}

.header-mobile {
    position: sticky;
    top: 0;
    height: 2.5rem;
    background: var(--clr-purple);
    display: flex;
    align-items: center;
}

.footer-mobile {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    background: var(--clr-purple);
    color: var(--clr-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5em;
    overflow-x: hidden;
}

.intro-mobile {
    display: grid;
    width: min-content;
    margin: 1em auto;
    column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;

    &-heading {
        grid-area: title;

        &-project {
            margin: 0 auto;
            position: relative;
            padding: 0.5em 0;
            text-transform: uppercase;
            color: var(--clr-blue);

            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 1px;
                background: var(--clr-blue);
                opacity: 0.5;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        strong {
            display: block;
        }
    }

    &-description {
        grid-area: subtitle;
        background: var(--clr-blue);
        color: var(--clr-white);
        text-transform: uppercase;
        font-family: var(--ff-secondary);
        font-size: 0.8rem;
        padding: 1em;
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        bottom: 1em;
        width: calc(100% + 3em);

        &-2 {
            display: block;
        }
    }

    &-img {
        grid-area: img;
        height: 220px;
        width: 150px;
        position: relative;
    }

    &-name {
        color: var(--clr-purple);
        font-weight: var(--fw-bold);
    }
}

.carousel {
    height: 100%;
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    &-container {
        min-height: 275px;
        position: relative;
        min-width: 95vw;
    }
}

.project {
    &-mobile {
        margin: auto;
        height: 100%;
        min-width: 95vw;
        opacity: 0.5;
        transform: scale(0.7);
        transition: opacity 300ms linear,
                    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        background: var(--clr-black);
        display: flex;
        justify-content: center;
        align-items: center;

        &-title {
            color: var(--clr-white);
        }
    }
}

$i: 0;
@for $i from 0 through 3 {
    .carousel-container.active-project-#{$i} #project-mobile-#{$i}{
        opacity: 1;
        transform: scale(1);
    }
}

.slider-buttons {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto 0.5em;
}

.back-button, .next-button {
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;

    &-icon {
        pointer-events: none;
        color: var(--clr-blue);
    }
}

.portfolio {
    &-mobile {
        margin: 0.5em 1em 5em;

        &-project {
            margin: 1em auto 2em;
        }

        &-title, &-description, &-description2 {
            margin-bottom: 1rem;
        }

        &-image {
            height: 250px;
            width: 100%;
            background: black;
            margin-bottom: 1em;
        }

        &-btn {
            display: inline;
            background: var(--clr-blue);
            color: var(--clr-white);
            padding: 0.5em 1em;
            border-radius: 3px;
            font-family: var(--ff-secondary);
            font-weight: var(--fw-light);
            text-transform: uppercase;
        }
    }
}